@model IEnumerable<CarWash.Models.AgendamentoModel>

@{
    ViewData["Title"] = "Agendamento";
}

<h1>Agendamento</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataDeAgendamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDeAgendamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carro.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servico.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration: none;">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none;">
                        <i class="fa-solid fa-info"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration: none;">
                        <i class="fa-solid fa-trash" style="color: red;"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
